@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #10141f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.fondo{
  background-image: url(/public/Breabad.jpg);
  background-size: cover;
}
.fondo2{
  background-image: url(/public/got.jpg);
  background-size: cover;
}
.fondo3{
  background-image: url(/public/bleach.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 450px) {
  .fondoRes{
    background-image: url(/public/bgbResponsive.jpg);
    background-size: cover;
  }
  .fondoRes2{
    background-image: url(/public/gotResponsive.jpg);
    background-size: cover;
  }
  .fondoRes3{
    background-image: url(/public/bleachResponsive.jpg);
    background-size: cover;
    background-position: center;
  }
}